a.star-rating-clear {
    text-decoration: underline;
}

div.star-rating-clear-container {
    float: left;
    margin-right: 4px;
}

div.star-rating-star-container, div.star-rating-star-container a {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAwCAYAAAAYX/pXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowQ0E5NEQ4RjUxQkIxMUU0ODk4OTkwMzJCNTFBMDJCMSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowQ0E5NEQ5MDUxQkIxMUU0ODk4OTkwMzJCNTFBMDJCMSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjBDQTk0RDhENTFCQjExRTQ4OTg5OTAzMkI1MUEwMkIxIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjBDQTk0RDhFNTFCQjExRTQ4OTg5OTAzMkI1MUEwMkIxIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+TzS1HwAAARNJREFUeNrslNENgjAQhttuwKMPvsAIZQQZQUeAEXQFV2AEHUFHgA2QBxfoCLVNfpKmaQtYow/2knshdx+X/64/HYaBBCJTmavsfQWMhKNWeQkVsJm/HzFB/Q6gBoQAtAqQWU3eKagSURfv0cRRzD3gEalFFSqvE+BhjLsmDgykMrQqTzR6AmaMVq2A6ObWFlEAMs40n6Zm1xbEAi360BqzBQAeAnDH2u7Wt3wJYIRQBXSpDFAQICBSaQqF5solMpVSkpigz2KT/CDWD5SIcX4AQPKD//YD+zVO59tCDzt2OLrmc34gu23yg1g/UCLG+QEAv/MD8w70BLfA+E4/sA9JQzr73h1+cE5+4H+N3/eDlwADABQNfHCWrhc0AAAAAElFTkSuQmCC); no-repeat scroll 0px 0px transparent;
}

div.star-rating-star-container {
    float: left;
    width: 16px;
    height: 16px;
    overflow: hidden;
}

a.star-rating-star {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -999em;
}

div.star-rating-star-container a.on {
    background-position: 0 -16px;
}


div.star-rating-star-container a.suggested {
    background-position: 0 -32px;
}
